body {
  background: #CCC;
}
section{background: #fff;}
h1 {color:blue;}
h2 {color:cornflowerblue;}
h3 {color:#1d9c23;}
.special-header{color: #21a179;}
p {color:blueviolet;}
#top {color:cornsilk;}
a {color:crimson;}
.header-link {color:#ad9c00;}

